.popup-image-wrapper {
    overflow: hidden;
}

.popup-image {
    width: 100%; /* Responsive image */
    border-radius: 8px;
    margin-bottom: 8px;

    /* transition: transform 0.3s ease; */
}
    
.magnifier {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    /* transform: scale(1.25); */
    transform-origin: center;
    visibility: hidden; /* Initially hidden */
}